


/* SECTION: ID */ 
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#song_area {
	border-style: solid;
	width: 35%;
	min-height: 3em;
}

/* SECTION: Class */
.menu_item a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
.menu_item a:hover {
  background-color: #111;
}

.note_button {
	display: inline;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

